.container {
	background: white;
	border-radius: 0.5rem;
	padding: 2rem;

	margin: 2rem 0;

	position: relative;
}

.main_info {
	display: flex;
	gap: 2rem;
}

.content {
	width: 100%;
}

.info_grid {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 2rem;
}

.link_out {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
}

.headshot {
	height: 18rem;
	width: 12rem;
	object-fit: cover;

	border-radius: 0.5rem;
}

.conflicts {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
	flex-wrap: wrap;
	list-style: none;
	gap: 0.25rem;
}

.conflict_container {
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}

.divider {
	width: 100%;
	height: 1px;
	background: rgba(0, 0, 0, 0.1);
	margin: 2rem 0;
}

.small_inputs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	padding: 0;
	margin: 2rem 0;

	gap: 2rem;
	list-style: none;

	li {
		display: flex;
		flex-direction: column;
	}

	h3 {
		margin: 0 0 1rem;
	}
}

.small_text_input {
	height: 2rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.full_text_input {
	width: 100%;
	box-sizing: border-box;
	height: 10rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	resize: none;
}
